<% content_for :title do %>
Welcome
<% end %>

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= page_home_path %><br/>
<%= page_home_url %><br/>
<%= 2 + 5 %><br/>
<% 7.times do %>
What?
<% end %>
<br/>
<%= "#{@name}, the time is #{@my_time}" %><br/>
<ul>
<% @stuff.each do |x| %>
  <li><%= x %></li>
<% end %>
</ul>
<p><%= @year %></p>

